/* @import url('/home/anjan/.cache/wal/colors-waybar.css'); */
@import url('/home/anjan/catppuccin/waybar/themes/mocha.css');

* {
  font-family: 'JetBrainsMono', 'Noto Sans', 'Roboto Condensed', sans-serif;
  font-size: 14px;
}

window#waybar {
  background: @crust;
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @text;
}

#window {
  padding: 0 40px;
}

window#waybar.test #workspaces {
  background: red;
}

window#waybar.hidden {
  opacity: 0.5;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-keybindings,
#custom-cycle_wall,
#network {
  border-radius: 4px;
  margin: 4px 0px;
  padding: 0px 4px;
}

#workspaces {
  border-radius: 4px;
  margin: 4px 0px;
  padding: 0px 4px;
  color: @color4;
}

#backlight {
  /* background-color: #cba6f7; */
}

#battery {
  /* background-color: #f9e2af; */
}

@keyframes blink {
  to {
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
}

#cpu {
}

#memory {
}

#disk {
}

#tray {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  margin-right: 2px;
  border-radius: 4px;
}

#workspaces button.visible {
  background-color: @red;
  color: @surface0;
}

#workspaces button:hover {
  /* background-color: @color8; */
}

#workspaces button.active {
  /* background-color: @color1; */
  background-color: @mauve;
  color: @surface0;
}

#custom-menu {
  font-size: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

#custom-power {
  margin-right: 20px;
  font-size: 20px;
}

#custom-updater {
}

#custom-uptime {
}

#custom-weather {
}

#custom-cycle_wall {
}

#custom-vpn_check {
}

#custom-cputemp {
  color: @text;
}

#custom-keybindings {
  font-size: 24px;
}

#pulseaudio {
}

#pulseaudio.bluetooth {
}
#pulseaudio.muted {
  color: @color2;
}

#network {
}

#network.disconnected,
#network.disabled {
}
